@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*::after, *::before {
  box-sizing: border-box;
}
*:focus, *:active {
  outline: none;
}
*[type=checkbox], *[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  line-height: 1;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

nav, footer, header {
  display: block;
}

ul, ol, li {
  list-style: none;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

._text-center {
  text-align: center;
}

._title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-transform: uppercase;
  color: #333;
}

._subtitle {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 44px;
  text-transform: uppercase;
  color: #333;
}

._button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #FCDB5A;
  border-radius: 30px;
  color: #fff;
  padding: 26px 58px;
  transition: all 0.3s ease-in;
}
._button:hover {
  background: #FCDB5A;
}

._button-center {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

._mb-25 {
  margin-bottom: 25px;
}

.slider {
  border: 1px solid #000;
  border-radius: 15px;
  margin: 50px 0;
  text-align: center;
  /* Navigation */
}
.slider__list {
  border-radius: 15px;
  background: #e3df76;
  padding: 50px 0;
  height: 300px;
}

/* arrow */
/* dots */
.form {
  margin: 0 auto;
  color: #888;
}
.form__body {
  position: relative;
}
.form__body::after {
  content: "Отправка...";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.form__body._sending .form__body::after {
  visibility: visible;
  opacity: 1;
}
.form__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}
.form__item {
  margin-bottom: 20px;
}
.form .form-block-input {
  display: flex;
  gap: 20px;
}
@media (max-width: 479.98px) {
  .form .form-block-input {
    flex-wrap: wrap;
  }
}
.form__item-two {
  flex: 1 1 50%;
}
.form__label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}
.form__input {
  height: 50px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  padding: 0 20px;
  box-sizing: border-box;
  border: 1px solid #c2c2c2;
  transition: border 0.3s;
}
.form__input:focus {
  box-shadow: 0 0 15px #fff;
}
.form__input:hover {
  border: 1px solid rgba(0, 146, 15, 0.9921568627);
}
.form__input._error {
  border: 1px solid red;
}
.form textarea {
  min-height: 120px;
  resize: vertical;
  padding: 20px;
  box-sizing: border-box;
}
.form textarea:hover {
  border-color: 1px solid rgba(0, 146, 15, 0.9921568627);
}
.form__button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  background-color: rgba(0, 146, 15, 0.9921568627);
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s;
}
.form__button:hover {
  background-color: rgba(1, 72, 8, 0.9921568627);
}
.form__button:active {
  top: 3px;
}

.options {
  margin-top: 10px;
}
.options__item {
  margin-bottom: 10px;
}
.options__input {
  display: none;
}
.options__input:checked + .options__label::after {
  transform: scale(1);
}
.options__label {
  display: inline-flex;
  line-height: 140%;
  align-items: center;
  position: relative;
  font-size: 16px;
  cursor: pointer;
}
.options__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 24px;
  height: 24px;
  background-color: #c2c2c2;
  border-radius: 50%;
  margin-right: 10px;
}
.options__label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: #06fa1e;
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.3s;
}

.select {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  padding: 0 20px;
  border: 1px solid #c2c2c2;
}

.file__item {
  position: relative;
}
.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}
.file__button {
  display: inline-flex;
  min-height: 40px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  background-color: #77608d;
  padding: 0 20px;
}
.file__preview {
  display: inline-block;
  max-width: 100px;
}
.file__preview img {
  max-width: 100%;
}

.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__label::after {
  transform: scale(1);
}
.checkbox._error .checkbox__label::before {
  box-shadow: 0 0 15px red;
}
.checkbox__label {
  width: 100%;
  font-size: 16px;
  line-height: 140%;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.checkbox__label::before {
  content: "";
  flex: 0 0 24px;
  align-self: flex-start;
  height: 24px;
  background-color: #888;
  border-radius: 4px;
  margin-right: 10px;
}
.checkbox__label::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: 4px;
  top: 4px;
  background-color: #06fa1e;
  border-radius: 4px;
  transform: scale(0);
  transition: all 0.3s;
}

[class*=header__container] {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 50;
  background: transparent;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 2;
}
.header__container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  min-height: 70px;
}
@media (max-width: 1023.98px) {
  .header .header__container {
    padding: 0 15px;
  }
  .header .header__logo img {
    height: 100px;
  }
}
.header__logo {
  font-weight: 700;
  font-size: 24px;
  position: relative;
  z-index: 5;
}
.header__menu {
  margin-top: 35px;
}

.menu__body {
  position: relative;
  z-index: 5;
}
@media (max-width: 1023.98px) {
  .menu .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -110%;
    background-color: rgba(30, 30, 30, 0.937254902);
    padding: 120px 15px 20px 0px;
    transition: left 0.3s;
    overflow: auto;
    z-index: 1;
  }
  .menu .menu__list {
    flex-direction: column;
    gap: 50px;
  }
  .menu .menu__link {
    font-size: 20px;
  }
  .menu .icon-menu {
    display: block;
    position: relative;
    z-index: 5;
    width: 30px;
    height: 18px;
    background: transparent;
    z-index: 5;
  }
  .menu .icon-menu .icon-menu__line, .menu .icon-menu::before, .menu .icon-menu::after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 100%;
    left: 0;
    transition: all 0.3s;
  }
  .menu .icon-menu .icon-menu__line {
    top: calc(50% - 1px);
  }
  .menu .icon-menu::before {
    top: 0;
  }
  .menu .icon-menu::after {
    bottom: 0;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  column-gap: 50px;
  row-gap: 5px;
  flex-wrap: wrap;
}
.menu__item {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
  transition: color 0.3s;
}
.menu__item:hover {
  color: #c2c2c2;
}
.menu__item:last-child {
  padding: 10px 20px;
  color: #4F4A37;
  background: #FCDB5A;
  border: 2px solid #FCDB5A;
  border-radius: 30px;
  transition: all 0.3s;
  cursor: pointer;
}
.menu__item:last-child:hover {
  background: #eece4f;
  border: 2px solid #FCDB5A;
  color: #fff;
}
.menu__icon {
  display: none;
}

@media (max-width: 1023.98px) {
  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }
  .menu-open .icon-menu .icon-menu__line {
    left: 50%;
    width: 0px;
  }
  .menu-open .menu__body {
    left: 0;
  }
}
.menu-open body {
  overflow: hidden;
}

.icon-menu {
  display: none;
}

.block-footer {
  padding: 65px 0;
  background: #fff;
  color: #fff;
  border-top: 1px solid #000;
}
@media (max-width: 767.98px) {
  .block-footer {
    padding: 30px 0 40px 0;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .footer {
    flex-wrap: wrap;
  }
}
.footer__item {
  max-width: 345px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .footer__item {
    flex: 0 1 100%;
    max-width: 100%;
  }
}
.footer__logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
}
.footer__text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.footer__copy {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #D6D5DF;
  margin-top: auto;
}
@media (max-width: 767.98px) {
  .footer__copy {
    margin-top: 20px;
  }
}
.footer__form-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}
@media (max-width: 767.98px) {
  .footer__form-title {
    margin-top: 30px;
  }
}
.footer__social {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #2962EF;
  border-radius: 100%;
}
.footer__link:hover path {
  fill: #fff;
  transition: 0.3s all ease;
}

.block__list {
  display: flex;
  align-items: center;
  gap: 25px;
}
@media (max-width: 767.98px) {
  .block__list {
    flex-wrap: wrap;
  }
}
.block__item {
  flex: 1 1 50%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #666;
}
.block__img {
  margin-top: 50px;
  width: 100%;
}

.block-img-text {
  background: url("../img/img-text.png") no-repeat center/cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  text-align: center;
  margin: 100px 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  line-height: 125%;
  font-size: 90px;
  animation: text-img 5s linear infinite alternate;
}
.block-img-text h1 {
  font-weight: 900;
}

@media (max-width: 767.98px) {
  .block-img-text {
    font-size: 70px;
    margin: 70px 0;
  }
}
@media (max-width: 479.98px) {
  .block-img-text {
    font-size: 40px;
  }
}
@keyframes text-img {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}
/* .project__img {
   position: relative;
   overflow: hidden;
   padding-bottom: 100%;
}
.project__img img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
   transition: all .8s;
}
.project__img:hover img {
   transform: scale(1.05);
} */
.hero {
  padding: 130px 0 230px 0;
  background: url("../img/slide1.png") center/cover no-repeat;
  display: flex;
  text-align: left;
  position: relative;
  z-index: 2;
  font-family: "Raleway", sans-serif;
}
.hero__suptitle {
  font-weight: 300;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 25px;
}
.hero__title {
  font-weight: 900;
  font-size: 75px;
  line-height: 90px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 25px;
}
.hero__subtitle {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  max-width: 688px;
  padding-bottom: 50px;
  margin: 0 auto;
}
.hero::before {
  position: absolute;
  content: " ";
  left: 0;
  top: 0;
  background: url("../img/hero-dots.png") center/cover no-repeat;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.hero::after {
  position: absolute;
  content: " ";
  left: 50%;
  bottom: -52px;
  background: url("../img/hero-line.png") no-repeat;
  width: 15px;
  height: 104px;
  z-index: 2;
}
@media (max-width: 767.98px) {
  .hero .hero__title {
    text-align: center;
    font-size: 60px;
  }
  .hero .hero__suptitle {
    font-size: 30px;
    text-align: center;
  }
}

.about {
  margin: 150px 0 100px 0;
}
.about__subtitle {
  max-width: 570px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #666;
}
.about__card {
  margin-top: 50px;
  margin-bottom: 150px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}
.about__item {
  text-align: center;
  max-width: 120px;
}
.about__item img {
  transition: all 0.3s;
}
.about__item:hover img {
  transform: scale(1.1);
}
.about__img {
  margin-bottom: 25px;
}

@media (max-width: 767.98px) {
  .about {
    margin: 100px 0 50px 0;
  }
  .about__card {
    margin-bottom: 100px;
    width: 100%;
  }
  .about__card {
    justify-content: center;
    gap: 30px;
  }
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "Open Sans", sans-serif;
  overflow: clip;
  z-index: 2;
}

body.lock {
  overflow: hidden;
}