.agro-bg {
   background: url('../img/agro.png') center / contain no-repeat ;
   width: 100%;
}
.household {
   background: url('../img/household.png') center / contain no-repeat ;
   width: 100%;
}
.agro {
   padding: 150px 0;
   display: flex;
   align-items: center;
   max-width: 1116px;
   margin: 0 auto;
   justify-content: space-between;

   // .agro__item
   &__item {
   }

   // .agro__img
   &__img {
      max-width: 360px;
      width: 100%;
   }

   // .agro__text
   &__text {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: $textColor;

      max-width: 344px;
   }
}

@media (max-width: $breakpoint768) {
   .agro {
      padding: 100px 0;
      flex-direction: column;
      gap: 40px;
   }
}
@media (max-width: $breakpoint480) {
   .agro {
      padding: 60px 0;
      flex-direction: column;
      gap: 40px;
   }
}
