.form-section {
   background: radial-gradient(61.39% 203.97% at 56.88% 47.53%, #333333 0%, #1A1B1C 100%);
   padding: 150px 0;

   @media (max-width: $breakpoint768) {
      padding: 100px 0;
   }
   @media (max-width: $breakpoint480) {
      padding: 60px 0;
   }
}

.form {
   max-width: 856px;
   padding-top: 60px;
   margin: 0 auto;
   color: #888;

   // .form__body
   &__body {
      position: relative;

      &::after {
         content: 'Отправка...';
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         background: rgba(0, 0, 0, 0.2);
         opacity: 0;
         visibility: hidden;
         transition: all .3s;
      }

      &._sending {
         .form__body::after {
            visibility: visible;
            opacity: 1;
         }
      }
   }


   // .form__item
   &__item {
      margin-bottom: 20px;
   }

   // .form__item in 2 input
   .form-block-input {
      display: flex;
      gap: 24px;
      margin-bottom: 50px;

      @media (max-width: $breakpoint480) {
         flex-wrap: wrap;
      }
   }

   // .form__item in 2 input
   &__item-two {
      flex: 1 1 50%;
   }

   // .form__label
   &__label {
            
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 600;
      font-size: 11px;
      line-height: 12px;
      color: #DADADA;

      opacity: 0.32;
      display: block;
      // margin-bottom: 10px;
   }

   // .form__input
   &__input {
      height: 35px;
      width: 100%;
      font-size: 14px;
      padding: 0 20px;
      box-sizing: border-box;
      border-bottom: 1px solid #dadada;
      color: #fff;
      transition: border .3s;
      background: none;

      &:focus {
         border-bottom: 1px solid $buttonColor;
      }
      
      &:hover {
         border-bottom: 1px solid $buttonColor;
      }

      &._error {
         border-bottom: 1px solid red;
      }
   }

   // textarea
   textarea {
      min-height: 75px;
      resize: vertical;
      padding: 20px;
      box-sizing: border-box;

      &:hover {
         border-color: 1px solid $inputHover;
      }
   }

   // .form__button
   &__button {
      margin-top: 50px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 60px;

      border: 2px solid $buttonColor;
      background: transparent;
      border-radius: 30px;

      font-family: 'Raleway';
      font-style: normal;
      font-weight: 600;
      font-size: 11px;
      line-height: 12px;
      text-transform: uppercase;
      color: #DADADA;
      cursor: pointer;

      transition: all .3s;      

      &:hover {
         background-color: $buttonColor;
         color: #fff;
      }

      &:active {
         top: 3px;
      }
   }
}
