// -----------------------
[class*="header__container"] {
   max-width: 1300px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}
// -----------------------
.header {
   // position: fixed;
   // top: 0;
   // left: 0;
   position: absolute;
   left: 0;
   width: 100%;
   z-index: 50;
   // border-bottom: 1px solid #000;
   background: transparent;

   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 70px;
      // border-bottom: 1px solid #000;
      // background: #fff;
      z-index: 2;
   }

   // .header__container
   &__container {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      min-height: 70px;
   }

   @media (max-width: $breakpoint1024) {
      .header__container {
         padding: 0 15px;
      }
      .header__logo {
         img {
            height: 100px;
         }
      }
   }

   // .header__logo
   &__logo {
      font-weight: 700;
      font-size: 24px;

      position: relative;
      z-index: 5;
   }

   // .header__menu
   &__menu {
      margin-top: 35px;
   }
}
.menu {
   // .menu__body
   &__body {
      position: relative;
      z-index: 5;
   }
   @media (max-width: $breakpoint1024) {
      .menu__body {
         position: fixed;
         width: 100%;
         height: 100%;
         top: 0;
         left: -110%;
         background-color: #1e1e1eef;
         padding: 120px 15px 20px 0px;
         transition: left .3s;
         overflow: auto;
         z-index: 1;
      }

      .menu__list {
         flex-direction: column;
         gap: 50px;
      }
      .menu__link {
         font-size: 20px;
      }

      .icon-menu {
         display: block;
         position: relative;
         z-index: 5;
         width: 30px;
         height: 18px;
         background: transparent;
         z-index: 5;

         .icon-menu__line,
         &::before,
         &::after {
            content: '';
            position: absolute;
            background-color: #fff;
            height: 2px;
            width: 100%;
            left: 0;
            transition: all .3s;
         }

         .icon-menu__line {
            top: calc(50% - 1px);
         }
         &::before {
            top: 0;
         }
         &::after {
            bottom: 0;
         }
      }
   }

   // .menu__list
   &__list {
      display: flex;
      align-items: center;
      column-gap: 50px;
      row-gap: 5px;
      flex-wrap: wrap;
   }

   // .menu__item
   &__item {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 21px;
      text-transform: uppercase;
      color: #fff;
      transition: color .3s;

      &:hover {
         color: #c2c2c2;
      }

      &:last-child {
         padding: 10px 20px;
         color: #4F4A37;

         background: $buttonColor;
         border: 2px solid $buttonColor;
         border-radius: 30px;

         transition: all .3s;
         cursor: pointer;

         &:hover {
            background: $buttonColorHover;
            border: 2px solid $buttonColor;
            color: #fff;
         }
      }
   }

   // .menu__link
   // &__link {
   // }

   // .menu__icon
   &__icon {
      display: none;
   }
}

@media (max-width: $breakpoint1024) {
   .menu-open .icon-menu::before {
      top: calc(50% - 1px);
      transform: rotate(-45deg);
   }
   .menu-open .icon-menu::after {
      bottom: calc(50% - 1px);
      transform: rotate(45deg);
   }
   .menu-open .icon-menu {
      .icon-menu__line{
         left: 50%;
         width: 0px;
      }
   }
   .menu-open {
      .menu__body {
         left: 0;
      }
   }
}

.menu-open body{
   overflow: hidden;
}

.icon-menu {
   display: none;

   // .icon-menu__line
   // &__line {
   // }
}


